<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Starter for Shower Presentation Engine</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=792, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="shower-ribbon/styles/screen.css">
	<link rel="stylesheet" href="styles/index.css">
	<script src="shower-core/shower.min.js"></script>
</head>
<body class="list">
	<header class="caption">
		<h1>Starter for Shower Presentation Engine</h1>
		<p>Shower is cool!!!</p>
	</header>

	<!-- First slide -->
	<section class="slide cover" id="Cover">
		<div>
			<h2>Cower</h2>
			<p>Brought to you by </p>
			<img src="pictures/cover.jpg" alt="">
		</div>
	</section>

	<!-- Second slide -->
	<section class="slide">
		<div>
			<h2>List</h2>
			<ol>
				<li>1</li>
				<li>2</li>
				<li>3</li>
			</ol>
		</div>
	</section>

	<!-- Third slide -->
	<section class="slide">
		<div>
			<h2>Plain Text</h2>
			<p>Here <strong>should</strong> be a lot of <b>text</b> and <code>&lt;code&gt;</code> and text.</p>
		</div>
	</section>

	<!-- Fourth slide -->
	<section class="slide">
		<div>
			<h2>All Kind of Lists</h2>
			<ol>
				<li>Simple lists are marked with bullets</li>
				<li>Ordered lists begin with a number</li>
				<li>You can even nest lists one inside another
					<ul>
						<li>Or mix their types</li>
						<li>But do not go too far</li>
						<li>Otherwise audience will be bored</li>
					</ul>
				</li>
				<li>Look, seven rows exactly!</li>
			</ol>
		</div>
	</section>

	<!-- Fifth slide -->
	<section class="slide">
		<div>
			<h2>Serious Citations</h2>
			<figure>
				<blockquote>
					<p>Tam tam tam tam.</p>
				</blockquote>
				<figcaption>???</figcaption>
			</figure>
		</div>
	</section>

	<!-- Sixth slide -->
	<section class="slide">
		<div>
			<h2>Code Samples</h2>
			<pre>
				<code>&lt;!DOCTYPE html&gt;</code>
				<code>&lt;html lang="en"&gt;</code>
				<code><mark>&lt;head&gt;</mark> <mark class="comment">&lt;!--Comment--&gt;</mark></code>
				<code>    &lt;title&gt;Shower&lt;/title&gt;</code>
				<code>    &lt;meta charset="<mark class="important">UTF-8</mark>"&gt;</code>
				<code>    &lt;link rel="stylesheet" href="screen.css"&gt;</code>
				<code><mark>&lt;/head&gt;</mark></code>
			</pre>
		</div>
	</section>

	<!-- Seventh slide -->
	<section class="slide shout" id="SeeMore">
		<div>
			<h2><img src="pictures/logo.svg" alt=""> <a href="https://github.com/shower/shower">See more about Shower on GitHub</a></h2>
		</div>
	</section>

	<div class="progress"><div></div></div>
</body>
</html>